<% layout("/layout/auth") %>

<div class="auth-page">

<div class="profile-wrapper">

    <div class="auth-card">

        <div class="auth-icon">
            🔐
        </div>

        <h2>Welcome Back</h2>

        <p class="auth-subtitle">
            Login to your SpendSmart account
        </p>

        <form action="/login" method="POST">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter your username"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter your password"
                required
            >

            <button class="save-btn">
                Login
            </button>

        </form>

        <div class="auth-footer">

            Don't have an account?

            <a href="/signup">
                Sign Up
            </a>

        </div>

    </div>

</div>

</div>